{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{%  block titre %} Traitement des demandes {% endblock %}

{% block nonaction %}
Liste des demandes {% endblock %}

{% block metier %}

    <table class="table table-striped table-advance table-hover">

        <thead>
        <tr>

            <th><i class="fa fa-bullhorn"></i> Nom</th>
            <th><i class="fa fa-bullhorn"></i> Prenom</th>
            <th><i class="num"></i> Cin</th>
            <th><i class="fa fa-bullhorn"></i> Image</th>
            <th><i class="fa fa-bullhorn"></i> Date de naissance</th>
            <th><i class="num"></i> Numero de passport</th>
            <th><i class="fa fa-bullhorn"></i> Nationalité</th>
            <th><i class="fa fa-bullhorn"></i> Adresse</th>
            <th><i class="fa fa-bullhorn"></i> Etat</th>




        </tr>
        </thead>
        <tbody>
        {% for d in demande %}
            <tr>

                <td> {{  d.nom}} </td>
                <td> {{  d.prenom }} </td>
                <td> {{  d.cin }} </td>
                <td> {{  d.rectoCin }} </td>
                <td> {{  d.dateNaisance }} </td>
                <td> {{  d.numPasseport }} </td>
                <td> {{  d.nationalite }} </td>
                <td> {{  d.adresse }} </td>
                <td> {{  d.etat }} </td>


                <td>

                    <a href="{{ path('wissem_condidat_Ajout_accept', {'id':d.idDemande.id} ) }}">
                        <button class="btn btn-primary btn-xs" id="mc" >
                            <i class="fa fa-check" ></i> Accepter
                        </button></a>
                </td>

                <td>

                    <a href="{{ path('wissem_condidat_demande_supp', {'id':d.idDemande} ) }}">
                        <button class="btn btn-danger btn-xs" >
                            <i class="fa fa-crosshairs" ></i>  Refuser

                        </button></a>


                </td>



            </tr>



        {% endfor %}




        </tbody>
    </table>

{% endblock metier %}

