{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block titre %}
Espace des tests
{% endblock %}

{% block nonaction %}
Ajout des tests
{% endblock %}

{% block metier %}
    <div class="form-panel">

        {{ form_start(formAjoutTest) }}

        <div class="form-group">

            {{ form_label(formAjoutTest.niveauTest) }} :
            {{ form_widget(formAjoutTest.niveauTest , {'attr': {'class':'form-control'}}  ) }}

        </div>



        <div class="form-group">


            {{ form_widget(formAjoutTest.Ajout, {'attr': {'class':'btn btn-theme'}}  ) }}

        </div>



        {{ form_end(formAjoutTest) }}

    </div>
{% endblock %}