

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block titre %}
    Espace des tests
{% endblock %}

{% block nonaction %}
    Liste des tests
{% endblock %}

{% block metier %}
    <thead>
    <tr>
        <th><i class="fa fa-bullhorn"></i> Niveau du test</th>
        <th style="align-content: center"> Ajouter <a href="{{ path('nada_auto_ecole_TestAdd') }}"> <button class="btn btn-success btn-xs"><i class="fa fa-plus" > </i></button></a> </th>


        <th style="align-content: center"></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for t in ts %}
        <tr>
            <td> <span class="label label-info label-mini">{{  t.niveauTest  }}</span> </td>


            <td>


                <a href="{{ path('nada_auto_ecole_showQuizTest', {'id':t.idTest}) }}"><button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a>

                <a href="{{ path('nada_auto_ecole_TestEdit', {'id':t.idTest} ) }}">
                    <button class="btn btn-primary btn-xs" id="mc" >
                        <i class="fa fa-pencil" ></i>
                    </button></a>

                <a href=" {{ path('nada_auto_ecole_SuppTest', {'id':t.idTest} ) }}"> <button class="btn btn-danger btn-xs"  >
                        <i class="fa fa-trash-o " > </i> </button> </a>
            </td>
        </tr>
    {% endfor %}




    </tbody>

{% endblock %}