

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block titre %}
    Espace des tests
{% endblock %}

{% block nonaction %}
    Liste des tests
{% endblock %}

{% block metier %}
    <div class="form-panel">

        {{ form_start(formModifTest) }}

        <div class="form-group">

            {{ form_label(formModifTest.niveauTest) }} :
            {{ form_widget( formModifTest.niveauTest, {'attr': {'class':'form-control'}}  ) }}

        </div>




        <div class="form-group">


            {{ form_widget( formModifTest.Modification, {'attr': {'class':'btn btn-theme'}}  ) }}

        </div>

        {{ form_end(formModifTest) }}

    </div>

{% endblock %}