{% extends "@NadaAutoEcole/BackLayout.html.twig" %}
{% block titre %}
    Espace Assurance
{% endblock %}

{% block espace %}
    Cargo espace expert auto
{% endblock %}
{% block sidemenu %}
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="#"><img src="{{ asset('assets/img/doudi.jpg') }}" class="img-circle" width="60"></a></p>
                <h5 class="centered">{{ app.user.username }} </h5>

                <li class="mt">
                    <a class="active" href={{ path('nada_auto_ecole_expertAccueil') }}>
                        <i class="fa fa-dashboard"></i>
                        <span>Accueil</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>Les actualités </span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('yacine_news_afficheBack') }}">Liste des actualités</a></li>
                        <li><a  href="{{ path('yacine_news_actualite') }}">Nouvelle actualité </a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>Les Discussions </span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('farah_chat_afficheDE') }}">Liste des discussions</a></li>
                        <li><a  href="{{ path('farah_chat_chatEx') }}">Chat </a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>Carnet de suivie Des Voitures</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/adminassurance') }}">Assurance</a></li>
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/adminvidange') }}">Vidange</a></li>
                    </ul>

                </li>


                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Statistique</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/Graphe/pie') }}">Assurance</a></li>
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/Graphe/histo') }}">Kilometrage</a></li>
                    </ul>
                </li>



            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
{% endblock %}

{% block nonaction %}
    Gestion Assurance
{% endblock %}

{% block metier %}
    <div class="content-panel">



        <h1 align="center"
            style="color: #0000F0"  > CarGO </h1> <br>

        <h1 align="center"
            style="color: darkmagenta"  > Les voitures / Recherche par Serie DQL </h1> <br>

        {{ form(formRech) }}
        {{ form_errors(formRech) }}

        <table   class="table table-striped"  style="width:300px; height:100px;">


            <thead>
            <th>id</th>
            <th >Série</th>
            <th>Marque</th>
            <th>modele</th>
            <th>carburant</th>
            <th>nb_ch </th>
            <th>Mise en circulation</th>
            <th>pplace</th>

            <thead/>

            {% for voiture in voitures %}

                <tr>

                    <td> {{ voiture.idVoiture }} </td>
                    <td> {{ voiture.immatricule }} </td>
                    <td> {{ voiture.marque }} </td>
                    <td> {{ voiture.modele }} </td>
                    <td> {{ voiture.typecarburant }} </td>
                    <td> {{ voiture.nbcheveaux }}  </td>
                    <td> {{ voiture.datemarche |date("m/d/Y") }} </td>
                    <td> {{ voiture.nbrPlace }} </td>
                </tr>
            {% endfor %}
        </table>



    </div>
{% endblock %}

