

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}
{% block metier %}
    <div class="form-panel">

        {{ form_start(formAjoutQuiz) }}



        <div class="form-group">
            Niveau du test :   <span></span>
            {{ form_widget(formAjoutQuiz.test, {'attr': {'class':'btn btn-theme03'}}) }}
        </div>


        <div class="form-group">

            {{ form_label(formAjoutQuiz.question) }} :
            {{ form_widget( formAjoutQuiz.question, {'attr': {'class':'form-control'}}  ) }}

        </div>


        <div class="form-group">

            {{ form_label(formAjoutQuiz.alt1) }} :
            {{ form_widget( formAjoutQuiz.alt1, {'attr': {'class':'form-control'}}   ) }}

        </div>


        <div class="form-group">

            {{ form_label(formAjoutQuiz.al2) }} :
            {{ form_widget( formAjoutQuiz.al2, {'attr': {'class':'form-control'}}   ) }}

        </div>

        <div class="form-group">

            {{ form_label(formAjoutQuiz.alt3) }} :
            {{ form_widget( formAjoutQuiz.alt3, {'attr': {'class':'form-control'}}   ) }}

        </div>


        <div class="form-group">


            {{ form_widget( formAjoutQuiz.Ajout, {'attr': {'class':'btn btn-theme'}}  ) }}

        </div>

        <div class="form-group">
            {{ form_widget(formAjoutQuiz.imageFile) }}
        </div>


        {{ form_end(formAjoutQuiz) }}

    </div>
    {% endblock %}


        {% block titre %}
            Liste des Quiz
        {% endblock %}

        {% block nonaction %}
            Modification des quiz
        {% endblock %}