{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block titre %}
    Espace des Quiz
{% endblock  %}

{% block nonaction %}
    liste des quiz
{% endblock  %}

{%  block metier %}
    <thead>
    <tr>
        <th><i class="fa fa-question-circle"></i> Question</th>
        <th class="hidden-phone"><i class="fa fa-question-circle"></i> alternative 1</th>
        <th class="hidden-phone"><i class="fa fa-question-circle"></i> alternative 2</th>
        <th class="hidden-phone"><i class="fa fa-question-circle"></i> alternative 3</th>
        <th> <i class="fa fa-image"></i>  Image</th>


        <th style="align-content: center"><a href="{{ path('nada_auto_ecole_QuizAdd') }}"> <button class="btn btn-success btn-xs"><i class="fa fa-plus" > </i> Ajout</button></a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for q in qz %}
        <tr>
            <td> {{  q.question  }} </td>
            <td class="hidden-phone" >  {{ q.alt1 }}</td>
            <td class="hidden-phone" >  {{ q.al2 }}</td>
            <td class="hidden-phone" >  {{ q.alt3 }}</td>

            <td> <img src=" {{ asset(vich_uploader_asset(q, 'imageFile')) }}" style="width: 200px" /></td>

            <td>

                <a href="{{ path('nada_auto_ecole_QuizEdit', {'id':q.idQuiz} ) }}">
                    <button class="btn btn-primary btn-xs" id="mc" >
                        <i class="fa fa-pencil" ></i>
                    </button></a>

                <a href=" {{ path('nada_auto_ecole_SuppQuizt', {'id':q.idQuiz} ) }}"> <button class="btn btn-danger btn-xs"  >
                        <i class="fa fa-trash-o " > </i> </button> </a>
            </td>
        </tr>
    {% endfor %}


    </tbody>
{% endblock metier %}
{% block pagination %}

    <div class="navigation text-center">
        {{ knp_pagination_render(qz) }}
    </div>
{% endblock %}