<html>
<head>
    {% block head %}
        <meta charset="utf-8">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheet %}
            <title>{% block title %}Espace Discussion{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/theme-color.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">

            <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}" type="text/css">

            <link href='{{ asset('https://fonts.googleapis.com/css?family=Exo+2:400,300,600,700,900,800,200,100,500,400italic') }}' rel='stylesheet' type='text/css'>



        {% endblock %}
    {% endblock %}
</head>

<body>

<div id="wrapper">

    <header class="cp_header" id="cp-inner-header">
        <div id="cp-slide-menu" class="cp_side-navigation">
            <ul class="navbar-nav">
                <li id="close"><a href="{{ asset('#') }}"><i class="fa fa-close"></i></a></li>
                <li><a href="{{ asset('index.html') }}">Home</a></li>
                <li><a href="{{ asset('about.html') }}">About</a></li>
                <li><a href="{{ asset('offers.html') }}">Online Offers</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">FAQs <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ asset('faq.html') }}">FAQs</a></li>
                        <li><a href="{{ asset('faq-sidebar.html') }}">FAQs With Sidebar</a></li>
                        <li><a href="{{ asset('faq-terms.html') }}">Terms & Condition</a></li>
                        <li><a href="{{ asset('faq-terms.html') }}">Privacy Scurity</a></li>
                    </ul>
                </li>
                <li><a href="{{ asset('booking.html') }}">View a booking</a>
                <li class="dropdown"><a href="{{ asset('#') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ asset('blog.html') }}">Blog</a></li>
                        <li><a href="{{ asset('blog-sidebar.html') }}">Blog with Sidebar</a></li>
                        <li><a href="{{ asset('blog-detail.html') }}">Blog Detail</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ asset('#') }}">Gallery</a>
                            <ul>
                                <li><a href="{{ asset('gallery.html') }}">Our Gallery</a></li>
                                <li><a href="{{ asset('gallery-2.html') }}">Gallery 2 Col</a></li>
                                <li><a href="{{ asset('gallery-3.html') }}">Gallery 3 Col</a></li>
                                <li><a href="{{ asset('gallery-full.html') }}">Gallery Full Width</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ asset('testimonial.html') }}">Testimonial</a></li>
                        <li><a href="{{ asset('login.html')}}">Login</a></li>
                        <li><a href="{{ asset('reservation.html') }}">Reservation</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="{{ asset('#') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Us<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ asset('contact-us.html') }}">Contact Us</a></li>
                        <li><a href="{{ asset('contact-us2.html') }}">Contact Us 2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="cp-slide-search" class="cp_side-search">
            <form method="get">
                <input type="text" placeholder="Enter Your Name..." required>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="cp-navigation-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="cp-topbar">
                            <ul class="top-listed">
                                <li><a href="{{ asset('login.html') }}">Log in</a></li>
                                <li><a href="{{ asset('register.html') }}">Register</a></li>
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            USA
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><a href="{{ asset('#') }}">UK</a></li>
                                            <li><a href="{{ asset('#') }}">USA</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Cur
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><a href="{{ asset('#') }}"><i class="fa fa-usd"></i> Dollar</a></li>
                                            <li><a href="{{ asset('#') }}"><i class="fa fa-eur"></i> Euro</a></li>
                                            <li><a href="{{ asset('#') }}"><i class="fa fa-gbp"></i> Pound</a></li>
                                            <li><a href="{{ asset('#') }}"><i class="fa fa-btc"></i> Dinar </a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <span class="tp-num">Call Us. +00 123 456 789</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-6">

                        <strong class="cp-logo">
                            <a href="index.html"><img src="{{ asset('images/cp-logo.png') }}" alt=""></a>
                        </strong>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-6">

                        <div class="cp-nav-holder">
                            <ul class="navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="offers.html">Online Offers</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">FAQs <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="faq-sidebar.html">FAQs With Sidebar</a></li>
                                        <li><a href="faq-terms.html">Terms & Condition</a></li>
                                        <li><a href="faq-terms.html">Privacy Scurity</a></li>
                                    </ul>
                                </li>
                                <li><a href="booking.html">View a booking</a>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-sidebar.html">Blog with Sidebar</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Gallery</a>
                                            <ul>
                                                <li><a href="gallery.html">Our Gallery</a></li>
                                                <li><a href="gallery-2.html">Gallery 2 Col</a></li>
                                                <li><a href="gallery-3.html">Gallery 3 Col</a></li>
                                                <li><a href="gallery-full.html">Gallery Full Width</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="reservation.html">Reservation</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Us<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="contact-us2.html">Contact Us 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav-right-listed">
                                <li id="search-push"><i class="fa fa-search"></i></li>
                                <li id="push" class="cp-sidemenu"><a href="#"><i class="fa fa-align-justify"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="cp_inner-banner">
        <img src="{{ asset('images/banner/inner-banner-img-05.jpg') }}" alt="">

        <div class="cp-inner-banner-holder">
            <div class="container">
                <h2>Contacter Expert-Auto</h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Faqs</li>
                </ul>
            </div>
        </div>
        <div class="animate-bus">
            <img src="{{ asset('images/animate-bus2.png') }}" alt="">
        </div>
    </div>


    <div id="cp-main-content">

        <section class="cp-faq-section pd-tb80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="cp-faq-holder">
                            <h3>Deposer Des Discussion </h3>
{% block content %}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#ask-tab1" aria-controls="ask-tab1" role="tab" data-toggle="tab">Town Taxi</a></li>
                                <li><a href="#ask-tab2" aria-controls="ask-tab2" role="tab" data-toggle="tab">Hybrid Taxi</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="ask-tab1">

                                    <div class="cp-ask-tab-inner">

                                        <p>Vous-avez des problematiques deposer des discussions ici: </p>
                                        <form method="get">
                                            <textarea>

                                            </textarea>
                                            <a href="#" class="cp-btn-style2">Chercher Maintenant</a>
                                        </form>
                                        {% endblock content %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="ask-tab2">

                                    <div class="cp-ask-tab-inner">
                                        <p>Find the answer to your query using our Frequently Asked Questions section. </p>
                                        <form method="get">
                                            <textarea></textarea>
                                            <a href="#" class="cp-btn-style2">Search Now</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="cp-faq-holder">
                            <h3>Our Top Rated Question</h3>
                            <ul class="cp-listed">
                                <li><a href="#">1. How do I book for a ride with Your Taxi?</a></li>
                                <li><a href="#">2. What are the different modes of payment you support?</a></li>
                                <li><a href="#">3. Which are the locations of operation at the moment?</a></li>
                                <li><a href="#">4. Can I book Taxi for someone else using my credit card?</a></li>
                                <li><a href="#">5. How do I book for a ride with Your Taxi?</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="cp-faq-tabs-holder pd-t80">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#faq-tab1" aria-controls="faq-tab1" role="tab" data-toggle="tab">Tout Les discussion</a></li>
                                <li><a href="#faq-tab2" aria-controls="faq-tab2" role="tab" data-toggle="tab">Where can you find us</a></li>
                                <li><a href="#faq-tab3" aria-controls="faq-tab3" role="tab" data-toggle="tab">Our taxis</a></li>
                                <li><a href="#faq-tab4" aria-controls="faq-tab4" role="tab" data-toggle="tab">Lost & found</a></li>
                                <li><a href="#faq-tab5" aria-controls="faq-tab5" role="tab" data-toggle="tab">Taxi App</a></li>
                            </ul>


                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="faq-tab1">
{% block formulaire %}
                                    <ul class="cp-faq-listed">
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Nelson </li>
                                                        <li>21 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Niky Bard </li>
                                                        <li>23 Feb ,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by William Doe </li>
                                                        <li>25 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Alle johnfer </li>
                                                        <li>09 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style1">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="faq-tab2">

                                    <ul class="cp-faq-listed">
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Nelson </li>
                                                        <li>21 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Niky Bard </li>
                                                        <li>23 Feb ,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by William Doe </li>
                                                        <li>25 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="faq-tab3">

                                    <ul class="cp-faq-listed">
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Niky Bard </li>
                                                        <li>23 Feb ,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by William Doe </li>
                                                        <li>25 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Alle johnfer </li>
                                                        <li>09 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="faq-tab4">

                                    <ul class="cp-faq-listed">
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Nelson </li>
                                                        <li>21 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Niky Bard </li>
                                                        <li>23 Feb ,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by William Doe </li>
                                                        <li>25 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Alle johnfer </li>
                                                        <li>09 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="faq-tab5">

                                    <ul class="cp-faq-listed">
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Nelson </li>
                                                        <li>21 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by John Doe </li>
                                                        <li>12 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Niky Bard </li>
                                                        <li>23 Feb ,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by William Doe </li>
                                                        <li>25 Feb,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                        <li>

                                            <div class="cp-faq-box">
                                                <div class="cp-top">
                                                    <h4>What do your rates include?</h4>
                                                    <ul class="listed">
                                                        <li>by Alle johnfer </li>
                                                        <li>09 march,2016 </li>
                                                    </ul>
                                                </div>
                                                <div class="cp-bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even red alteration in some form, by injected humour, or randomised words which don't look even sligh tly believable. </p>
                                                    <a href="#" class="cp-btn-style2">Ask Now</a>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                    {% endblock formulaire %}
                                </div>
                            </div>
                        </div>

                        <div class="cp-faq-btn-holder pd-t80">
                            <strong>Our answers can not help you? Lets talk with us</strong>
                            <a href="contact.html" class="cp-btn-style1">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="cp_footer">

        <section class="cp-ft-top-section pd-t80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-about-box">
                            <strong class="logo">
                                <a href="index.html"><img src="{{ asset('images/cp-logo2.png') }}" alt=""></a>
                            </strong>
                            <p>The Company downminor offences are fine and will not incur any additional fee's. Any other offences should be checked with our reservations urna nibh ut, our reservations alias consequatur aut perferendis doloribus asurna etiam libero nisl, in magna feugia.</p>
                            <ul class="cp-social-links">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa  fa-envelope"></i></a></li>
                            </ul>
                            <ul class="cp-logo-listed">
                                <li><a href="#"><img src="{{ asset('images/company-logo1.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/company-logo2.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/company-logo3.jpg') }}" alt=""></a></li>
                                <li><a href="#"><img src="{{ asset('images/company-logo4.jpg') }}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cp-ft-bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12">

                        <div class="cp-ft-form-box">
                            <h4>Already Regiterd? <a href="#">Sign in Now</a></h4>
                            <form action="http://html.crunchpress.com/taxigo/form.php" method="post">
                                <div class="inner-holder">
                                    <input type="text" placeholder="Name" required pattern="[a-zA-Z ]+">
                                </div>
                                <div class="inner-holder">
                                    <input type="text" placeholder="Email" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$">
                                </div>
                                <div class="inner-holder inner-holder2">
                                    <button type="submit" class="btn-submit" value="Submit">Search Now</button>
                                </div>
                                <label> <input type="checkbox"> Remember me </label>
                                <label><a href="#" class="remember-pw">Forgot the password</a></label>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">

                        <nav class="cp-footer-nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="offers.html">Online Offers</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="booking.html">View a booking</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">Contact Us</a></li>
                            </ul>
                        </nav>
                        <p> All Rights Reserved 2016 </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</div>

<script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

<script src="{{ asset('js/html5shiv.js') }}" type="text/javascript"></script>

<script type="text/javascript" src="{{ asset('js/migrate.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('js/custom-script.js') }}"></script>
</body>
</html>