{% extends  "NadaAutoEcoleBundle::BackLayout.html.twig"%}

{%  block titre  %}

Espace des cours
{% endblock %}

{% block nonaction %}
    Ajout des cours
{% endblock %}

{%  block metier %}



        <div class="form-panel">

            {{ form_start(formAjoutCours) }}

            <div class="form-group">

                {{ form_label(formAjoutCours.titreCours) }} :
                {{ form_widget( formAjoutCours.titreCours, {'attr': {'class':'form-control'}}  ) }}

            </div>

            <div class="form-group">

                {{ form_label(formAjoutCours.contenuCours) }} :
                {{ form_widget( formAjoutCours.contenuCours, {'attr': {'class':'form-control'}}  ) }}

            </div>




            <div class="form-group">


                {{ form_widget( formAjoutCours.Ajout, {'attr': {'class':'btn btn-theme'}}  ) }}

            </div>



            {{ form_end(formAjoutCours) }}

        </div>




        {#
        {{ form_start(formAjoutCours) }}
        <table>
            <tr> <td> Titre   : </td>
                  <td>{{ form_widget(formAjoutCours.titreCours) }} </td> </tr>


      <tr>  <td>
              Contenu :
          </td>
      <td>
          {{ form_widget(formAjoutCours.contenuCours) }}
      </td></tr>

            <tr> <td> </td>  <td> {{ form_widget(formAjoutCours.Ajout) }}</td></tr>

        {{ form_end(formAjoutCours) }}
        </table>
        #}


{% endblock %}
