

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}



{% block titre %}
    Espace des cours
{% endblock titre %}

{% block nonaction %}
    Liste des cours
{% endblock nonaction %}

{%  block metier %}
    <thead>
    <tr>
        <th><i class="fa fa-bullhorn"></i> Titre</th>
        <th class="hidden-phone"><i class="fa fa-question-circle"></i> Contenu</th>

        <th> <i class="fa fa-image"></i>  Image</th>
        <th style="align-content: center"><a href="{{ path('nada_auto_ecole_CoursAdd') }}">
                <button class="btn btn-success btn-xs"><i class="fa fa-plus" > </i> Ajout</button></a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for c in cours %}
        <tr>
            <td> {{  c.titreCours  }} </td>
            <td  >  {{c.contenuCours|length > 100 ? (c.contenuCours[:50] ~ '... Lire la suite') : c.contenuCours }}</td>

            <td style="font-size: large"> <img src=" {{ asset(vich_uploader_asset(c, 'imageFile')) }}" style="width: 200px" /></td>

            <td>
                <a href=" {{ path('nada_auto_ecole_ShowLessonCours', {'id':c.idCours} ) }}"> <button class="btn btn-success btn-xs"  >
                        <i class="fa fa-check " > </i> </button> </a>

                <a href="{{ path('nada_auto_ecole_CoursEdit', {'id':c.idCours} ) }}">
                    <button class="btn btn-primary btn-xs" id="mc" >
                        <i class="fa fa-pencil" ></i>
                    </button></a>

                <a href=" {{ path('nada_auto_ecole_SuppCours', {'id':c.idCours} ) }}"> <button class="btn btn-danger btn-xs"  >
                        <i class="fa fa-trash-o " > </i> </button> </a>


            </td>
        </tr>
    {% endfor %}


    </tbody>
{% endblock metier %}

{% block pagination %}

    <div class="navigation text-center">
        {{ knp_pagination_render(cours) }}
    </div>
{% endblock %}
