{% extends "@NadaAutoEcole/FrontLayout.html.twig" %}

{% block title %} Cours {% endblock %}

 {% block metier %}
     <!--cour 1 -->
     {% for c in cours  %}
         <div class="col-md-6 col-sm-12">

             <article class="cp-taxi-holder cp-deals-holder">
                 <figure class="cp-thumb">

                     <img src=" {{ asset(vich_uploader_asset(c, 'imageFile')) }}" />

                 </figure>
                 <div class="cp-text">
                     <h3>   {{ c.titreCours}}</h3>
                     <ul class="cp-meta-listed">
                         <li>Niveau de difficulté <span>moyen</span></li>

                     </ul>
                     <a href="{{ path('nada_auto_ecole_LessonFront', {'id':c.idCours}) }}" class="cp-btn-style1">Voir les lessons</a>
                 </div>
              <span></span>   {{ facebookButton() }} <br> <br>
                 <span></span>     {{ c.nbvote|rating(5, "fa-1x") }}


             </article>

         </div>
     {% endfor %}
 {% endblock metier %}

                    {% block paginator %}

                        <div class="cp-pagination-row" >
                            {{ knp_pagination_render(cours) }}
                        </div>
                    {% endblock paginator %}