{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block metier %}
<div class="form-panel">

    {{ form_start(formModifCours) }}

    <div class="form-group">

        {{ form_label(formModifCours.titreCours) }} :
        {{ form_widget( formModifCours.titreCours, {'attr': {'class':'form-control'}}  ) }}

    </div>

    <div class="form-group">

        {{ form_label(formModifCours.contenuCours) }} :
        {{ form_widget( formModifCours.contenuCours, {'attr': {'class':'form-control'}}  ) }}

    </div>

    <div class="form-group">

        {{ form_label(formModifCours.imageFile) }} :
        {{ form_widget( formModifCours.imageFile, {'attr': {'class':'btn btn-warning'}}  ) }}

    </div>


    <div class="form-group">


        {{ form_widget( formModifCours.Modification, {'attr': {'class':'btn btn-theme'}}  ) }}

    </div>

    {{ form_end(formModifCours) }}

</div>
{% endblock metier %}

{% block titre %}
    Espace des cours
{% endblock titre %}
{% block nonaction %}
    Modification des cours
{% endblock %}