


{% extends "@NadaAutoEcole/BackLayout.html.twig" %}
{% block titre %}
    Espace Assurance
{% endblock %}

{% block espace %}
    Cargo espace expert auto
{% endblock %}
{% block sidemenu %}
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="#"><img src="{{ asset('assets/img/doudi.jpg') }}" class="img-circle" width="60"></a></p>
                <h5 class="centered">{{ app.user.username }} </h5>

                <li class="mt">
                    <a class="active" href={{ path('nada_auto_ecole_expertAccueil') }}>
                        <i class="fa fa-dashboard"></i>
                        <span>Accueil</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>Les actualités </span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('yacine_news_afficheBack') }}">Liste des actualités</a></li>
                        <li><a  href="{{ path('yacine_news_actualite') }}">Nouvelle actualité </a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-desktop"></i>
                        <span>Les Discussions </span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ path('farah_chat_afficheDE') }}">Liste des discussions</a></li>
                        <li><a  href="{{ path('farah_chat_chatEx') }}">Chat </a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>Carnet de suivie Des Voitures</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/adminassurance') }}">Assurance</a></li>
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/adminvidange') }}">Vidange</a></li>
                    </ul>

                </li>


                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Statistique</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/Graphe/pie') }}">Assurance</a></li>
                        <li><a  href="{{ asset('http://localhost/thuggies/web/app_dev.php/Graphe/histo') }}">Kilometrage</a></li>
                    </ul>
                </li>



            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
{% endblock %}

{% block nonaction %}
    creation offre
{% endblock %}

{% block metier %}

<section class="wrapper">

    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped table-advance table-hover">
                    <h><i class="fa fa-angle-right"></i> Table Consultation de l'offre </h>
                    <hr>
                    <thead>
                    <tr>


                        <ul>
                            <li>
                                <a href="{{ path('Admin_add_offre') }}">
                                    <input type="button" name="Assurance"value="Ajouter unne offre"
                                           class="btn btn-primary btn-lg btn-block" />

                                </a>
                            </li>


                        </ul>
                    <tbody>
                    <tr>
                        <th>Idoffre</th>
                        <td>{{ offre.idOffre }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ offre.titre }}</td>
                    </tr>
                    <tr>
                        <th>Marque</th>
                        <td>{{ offre.marque }}</td>
                    </tr>
                    <tr>
                        <th>Modele</th>
                        <td>{{ offre.modele }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ offre.prix }}</td>
                    </tr>
                    <tr>
                        <th>Dateoffre</th>
                        <td>{% if offre.dateOffre %}{{ offre.dateOffre|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Descriptif</th>
                        <td>{{ offre.descriptif }}</td>
                    </tr>




                    <tr>
                        <th>Imageoffre</th>
                        <td><img height="120" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{ 'http://localhost/Image/' ~ offre.imageName}}"></td>
                    </tr>





                    <tr>
                        <th>Location</th>
                        <td>{{ offre.location }}</td>
                    </tr>
                    <tr>
                        <th>Numerodetel</th>
                        <td>{{ offre.numeroDeTel }}</td>
                    </tr>

                    </tbody>
                </table>



                <ul>

                    <li>
                        <a href="{{ path('Admin_edite_offre', { 'idOffre': offre.idOffre }) }}">

                            <input type="button" name="Assurance"value="Modifier"
                                   class="btn btn-round btn-warning btn-lg btn-block" onclick="alert('Vous allez Modifiez cette anonce')"/>
                        </a>

                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-round btn-danger btn-lg btn-block" onclick="alert('Veuillez supprimer cette offre')">
                        {{ form_end(delete_form) }}
                    </li>



                </ul>





                <ul>
                    <li>
                        <a href="{{ path('Admin_gestion_offre') }}">
                            <input type="submit" value="<<Re-vue la liste" class=" btn btn-default btn-lg btn-block">

                        </a>
                    </li>

                </ul>


                {% endblock %}


            </div><!-- /content-panel -->
        </div><!-- /col-md-12 -->
    </div><!-- /row -->
</section>

{% endblock %}