{% extends "@NadaAutoEcole/FrontLayout.html.twig" %}

{% block title%}
    Les réparations
    {% endblock %}
{% block metier %}
    <div class="container">
        <h2>Reparation affecter à Votre voiture </h2>
        <p>Vous ne pouvez ni supprimer ni modifier , il faut contacter un admin </p>
    </div>
    <table   class="table table-striped"  style="width:300px; height:100px;">


        <th>refenrence</th>
        <th>Type de panne</th>
        <th>piece de rechange</th>
        <th>Description</th>
        <th>Date de vidange </th>
        <th>serie </th>

        {% for voiture in voitures %}
            <tr>
                <td> {{ voiture.idReparation }} </td>
                <td> {{ voiture.typePanne }} </td>
                <td> {{ voiture.pieceChangee }} </td>
                <td> {{ voiture.description }} </td>
                <td> {{ voiture.date |date("m/d/Y") }} </td>
                <td> {{ voiture.idVoiture.immatricule }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}