

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}
{% block metier %}
    <div class="form-panel">

        {{ form_start(formModifLesson) }}

        <div class="form-group">

            {{ form_label(formModifLesson.name) }} :
            {{ form_widget( formModifLesson.name, {'attr': {'class':'form-control'}}  ) }}

        </div>

        <div class="form-group">

            {{ form_label(formModifLesson.text) }} :
            {{ form_widget( formModifLesson.text, {'attr': {'class':'form-control'}}  ) }}

        </div>

        <div class="form-group">

            {{ form_label(formModifLesson.imageFile) }} :
            {{ form_widget( formModifLesson.imageFile, {'attr': {'class':'btn btn-warning'}}  ) }}

        </div>


        <div class="form-group">


            {{ form_widget( formModifLesson.Modification, {'attr': {'class':'btn btn-theme'}}  ) }}

        </div>

        {{ form_end(formModifLesson) }}

    </div>
    {% endblock %}


        {% block titre %}
            Liste des lessons
        {% endblock %}

        {% block nonaction %}
            Modification des lessons
        {% endblock %}