{% extends "@NadaAutoEcole/BackLayout.html.twig" %}

{% block titre %} Liste des demandes
    {% endblock %}

{% block nonaction %}
Affectation des dates
    {% endblock %}

{% block metier %}
<div class="form-panel">

    {{ form_start(formAjoutAccept) }}

    <div class="form-group">

        {{ form_label(formAjoutAccept.agentName) }} :
        {{ form_widget( formAjoutAccept.agentName, {'attr': {'class':'form-control'}}  ) }}

    </div>

    <div class="form-group">

        {{ form_label(formAjoutAccept.dateDexaman) }} :
        {{ form_widget( formAjoutAccept.dateDexaman, {'attr': {'class':'form-control'}}  ) }}

    </div>


    <div class="form-group">

        {{ form_label(formAjoutAccept.prix) }} :
        {{ form_widget( formAjoutAccept.prix, {'attr': {'class':'btn btn-warning'}}   ) }}

    </div>



    {{ form_end(formAjoutAccept) }}

</div>
{% endblock %}